@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-family: "Germania One", system-ui;
  }

.hover-status{
    background-color: gray;
    opacity: 50%;
}

.piece{
    top: 11.07%;
    left: 11.01%;
    height: 7%;
    width: 7%;
    overflow: hidden;
    position: absolute;
    background-size: 100%;
    will-change: transform;
}

.attacking{
    background-image: "$lib/images/attacking.png";
}

